[build]
  command = "npm run build"
  publish = "site"
  functions = "netlify/functions"

[build.environment]
  NODE_VERSION = "20"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

[[redirects]]
  from = "/q/*"
  to = "/q/:splat/index.html"
  status = 200
